.success,
.error {
    color: white;
    padding: .15rem .5rem;
    border-radius: 3px;
    margin: 0 1rem;
    text-align: center;
}

.error {
    background-color: rgb(240, 65, 65);
}

.success {
    background-color: rgb(71, 214, 71);
}