@import '../../../global-styles/mixins/inputs.scss';
@import '../../../global-styles/mixins/forms.scss';

.form {
    @include form;

    input {
        margin-bottom: .5rem;
    }

    input[type='submit'] {
        @include submitInput;
    }

    input[type='text'],
    input[type='password'] {
        @include textInput;
    }

    input[type='text']:focus,
    input[type='password']:focus {
        @include textInputFocus;
    }

    label[for='lastName']::after,
    label[for='firstName']::after,
    label[for='login']::after,
    label[for="email"]::after,
    label[for="password"]::after,
    label[for="confirmPassword"]::after {
        content: " *";
        color: rgba(255, 0, 0, 0.75);
    }

    a:hover {
        text-decoration: underline;
    }

    div {
        display: flex;
        flex-direction: column;
    }
}