@import '../../../global-styles/mixins/Inputs.scss';
@import '../../../global-styles//mixins//Forms.scss';

.LoginForm {
    @include form;

    input {
        margin-bottom: .75rem;
    }

    label {
        padding: 0 .25rem;
    }

    input[type='submit'] {
        @include submitInput;
    }

    input[type='text'],
    input[type='password'] {
        @include textInput;
    }

    input[type='text']:focus,
    input[type='password']:focus {
        @include textInputFocus;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        text-align: center;
    }
}